### Statistical Data Analysis

#### Load data

In [ ]:
# Import the libraries
import pandas as pd

In [ ]:
# Get the dataframe
df = pd.read_csv("E:\\RajaRajeshwari\\MyFolders\\Projects\\mlops_salary_prediction\\mlops_salary_prediction_main\\data\\raw\\salary_datas

In [ ]:
# Get the shape of the dataframe
df.shape

In [ ]:
# Display the headers
df.columns

In [ ]:
# Check for missing values
df.isna().sum()

In [ ]:
# Find and print the rows with missing values
nan_values = df[df.isna().any(axis=1)]
print(nan_values)

In [ ]:
# Check for duplicate rows
df.duplicated().sum()

In [ ]:
# Display the top 5 rows of the dataframe
df.head()

In [ ]:
# Describe the number of non-null values and the data type
df.info()

In [ ]:
# Describe numerical data
df.describe().T